<h1>{{ title }}</h1>

{{ message }}

<p>{{ favouritesNum }} product(s) in favourites.</p>

<button (click)="sortList('price')">Sort by Price</button>
<button (click)="sortList('name')">Sort by Name</button>

<ul class="products">
    <li *ngFor="let product of products | orderBy: [sorter]" 
    [class.discontinued]="product.discontinued"
    (click)="onSelect(product, true)" 
    [class.selected]="product === selectedProduct"
    >
        <span class="name">{{ product.name }}</span>
        {{ product.description }}
        <span class="price">{{ product.price | currency:'CAD':false:'.2' }}</span>
    </li>
</ul>

<!-- bind to selected product, and give it as an input to the product details component -->
<product-details 
    [product]="selectedProduct"
    (addedToFavourites)="newFavourite($event)"
    ></product-details>