<h2>New Product</h2>
<form [ngFormModel]="insertForm" 
    (ngSubmit)="onSubmit()"
>
    <label for="name">Name:</label>
    <input
        id="name" 
        type="text"
        ngControl="name">
    <br />
    
    <label for="price">Price:</label>
    <input
        id="price"
        type="number"
        ngControl="price">
    <br />
    
    <label for="description">Description:</label>
    <textarea
        id="description"
        ngControl="description">
    </textarea>
    <br />
    
    <button type="submit"
        [disabled]="!insertForm.valid"
    >Save</button>
</form>